---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      <h1> All Level Up Tracks</h1>

      <h2 id="Java"><a href="{{ site.baseurl }}/java/">Java</a></h2>
      

      <!-- {% for page in site.categories["java"] %}
          <li class="item  item--post">
            <article class="article  article--post  typeset">
              <h3><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
              {% include post-meta.html %}
              {{ page.excerpt | truncatewords: 60 | markdownify }}
            </article>
          </li>
        {% endfor %} -->


      <!-- {% if paginator.courses %}
        {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
        <h1>{{ collectiondata.title }}</h1>
        {{ collectiondata.description | markdownify }}

      {% else %}
        <h1>{{ page.title }}</h1>
        {{ content }}
        
      {% endif %} -->

    </article>

    {% include course-list.html %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
